{% extends 'posts/main.html' %}
{% load static %}
{% block content %}
    <h1 id="homePageText">Welcome to International Student Board</h1>
    {% for post in posts %}
        <br>
        <div class="container">
            <div class="card" id="card-homePage">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <img id="thread-img" src="{% static '/images/avatar.png' %}" />
                        </div>
                        <div class="col-8">
                            <h5 class="card-title">{{ post.text }}</h5>
                            <p class="card-text">{{ post.description }}</p>
                            <a href="{% url 'post' post.id %}" class="btn btn-primary">Button</a>
                        </div>
                        <div class="col-2">
                            <div id="likeComments">
                                <i class="far fa-thumbs-up"></i>
                                <span id="likeCommentsCount">5</span>
                            </div>
                            <div id="likeComments">
                                <i class="fa fa-comment"></i>
                                <span id="likeCommentsCount">15</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}