#logo {
    height: 100%;
    width: 100%;
}
.navbar-brand{
    display: inline-block;
    height: 3%;
    width: 3%;
    margin: 0;
    padding:0;
    margin-right: 2%;
}
#card-homePage {
    border-radius: 40px;
    width: 90%;
    margin: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
    border-radius: 20px;
}

#thread-img {
  border-radius: 50px;
  height: 99px;
  width: 99px;
  margin: 20px 0;
  max-height: inherit;
  max-width: 100%;
}

#likeComments {
  margin: 30px 0;
}

#likeCommentsCount {
  margin-left: 20px;
}

#homePageText {
    text-align: center;
}